.competition {
  padding-top: 122px;
  padding-bottom: 30px;

  @media (max-width: ($vp-1200 - 1px)) {
    padding-top: 98px;
  }

  @media (max-width: ($vp-768 - 1px)) {
    padding-top: 70px;
  }
}

.competition__container {
  display: grid;
  grid-template-columns: 1fr 1.32fr;

  @media (max-width: ($vp-768 - 1px)) {
    max-width: 500px;
    grid-template-columns: 1fr;
  }
}

.competition__image {
  place-self: stretch;
  position: relative;
  width: 100%;
  background-color: $color-sapphire;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: $color-sapphire;
  }

  @media (max-width: ($vp-768 - 1px)) {
    min-height: 292px;;
  }
}

.competition__description-wrapper {
  box-sizing: border-box;
  place-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  background-color:$color-torch-red-darkest;

  @media (max-width: ($vp-768 - 1px)) {
    min-height: 292px;
  }
}

.competition__description {
  width: 69.5%;
  display: grid;
  grid-template-columns: 2.18fr 1fr;
  grid-template-rows: min-content;
  column-gap: 40px;
  row-gap: 10px;
  color: $color-default-white;

  @media (max-width: ($vp-1200 - 1px)) {
    row-gap: 0;
    column-gap: 22px;
  }

  h2 {
    place-self: start start;
    margin: 0;
    padding: 0;
    font-family: $ff-Alumni;
    font-weight: 600;
    font-size: 82px;
    line-height: 79px;
    text-align: center;
    letter-spacing: 0.03em;
    transform: translateX(-3px);

    @media (max-width: ($vp-1200 - 1px)) {
      max-width: 120px;
      margin-left: 10px;
      font-size: 48px;
      line-height: 46px;
      text-align: left;
    }
  }

  p {
    margin: 0;
    padding: 0;
    padding-left: 2px;
    grid-column: span 2;
    font-weight: 400;
    font-size: 18px;
    line-height: 2;

    @media (max-width: ($vp-1200 - 1px)) {
      font-size: 12px;
    }
  }

  dl {
    place-self: start center;
    margin: 0;
    padding: 0;

    transform: translateY(-5px);
  }

  dt {
    position: relative;
    margin: 0;
    margin-bottom: 3px;
    padding: 0;
    font-size: 18px;
    line-height: 27px;

    @media (max-width: ($vp-1200 - 1px)) {
      font-size: 12px;
      margin-bottom: 0;
    }
  }

  dd {
    position: relative;
    width: min-content;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 1px;
      background-color: $color-default-white;
    }
  }

  span {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;

    @media (max-width: ($vp-1200 - 1px)) {
      font-size: 24px;
      line-height: 30px;
    }
  }

  small {
    margin-left: 7px;
    font-size: 14px;
    line-height: 27px;

    @media (max-width: ($vp-1200 - 1px)) {
      margin-left: 4px;
      font-size: 10px;
      line-height: 12px;
    }
  }
}

.competition__date {
  margin-bottom: 15px;

  @media (max-width: ($vp-1200 - 1px)) {
    margin-bottom: 5px;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.competition__button {
  font-family: $ff-roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  grid-column: span 2;
  margin-top: 36px;
  border: 4px solid $color-default-white;
  background-color: transparent;
  padding: 28px;
  place-self: start center;
  width: 100%;
  max-width: 346px;
  color: $color-default-white;
  text-align: center;

  @media (max-width: ($vp-1200 - 1px)) {
    margin-top: 27px;
    padding: 15px;
    font-size: 10px;
    line-height: 12px;

    transform: translateY(2px);

    &::after {
      border-width: 2px;
    }
  }

  @include hover-focus {
    opacity: 0.7;
  }

  @include active {
    opacity: 0.5;
  }

  @media (max-width: ($vp-768 - 1px)) {
    font-size: 10px;
    line-height: 12px;
    padding: 12px 51px;
    margin-top: 30px;
    border: 2px solid $color-default-white;
    padding: 12px 18px;
  }
}
